.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 25px;
}

.App-header {
  background-color: #222;
  color: white;
}

.App-title {
  font-size: 12 px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(60deg); }
}
